In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
import seaborn.objects as so
from seaborn import axes_style
from IPython.display import display

Path.cwd()

PosixPath('/project/cs-myers/MathewF/projects/Laura-SB-Analysis/NetCIS/notebooks')

In [3]:
insertion_files = Path("/project/cs-myers/MathewF/projects/Laura-SB-Analysis/output/2020_SB-no_threshold-insertions/")
input_file = Path("/project/cs-myers/MathewF/projects/Laura-SB-Analysis/input.tsv")

In [11]:
insert_list = []
for file in insertion_files.iterdir():
    tmp_df = pd.read_csv(file, sep="\t")
    tumor_model, sample_id, tissue_type = file.name.split("-")
    tmp_df["tumor_model"] = tumor_model
    tmp_df["sample_id"] = sample_id
    tmp_df["tissue"] = tissue_type.split(".")[0]  # RT/LT/S
    insert_list.append(tmp_df)
inserts_df = pd.concat(insert_list, ignore_index=True)
print(f"total reads: {len(inserts_df)}")

file_count = len(inserts_df.groupby(by=["tumor_model", "sample_id", "tissue"]).count())
print(f"number of samples (mouse and tissues) with reads: {file_count}")

in_df = pd.read_csv(input_file, sep="\t", header=None)
print(f"total samples: {len(in_df)}")

total reads: 242351
number of samples (mouse*tissue) with reads: 302
total samples: 312

In [6]:
inserts_df

,chr,pos,strand,ref_length,query_length,read_length,mapping_quality,read_name,TA_location,read_first_last,ref_first_last,tpn_promoter_orient,library,tumor_model,sample_id,tissue
0,chr1,53601099,+,135,147,147,14,K00274:76:HHHM2BBXX:8:2128:16224:28446,none,GATAAATTTG-AGGTCCTAGA,GGAGcAGTTG-AGGTCCTAGA,-,IRL,EL4,32_2,LT
1,chr1,68392290,+,70,71,71,42,K00274:76:HHHM2BBXX:8:1108:29193:25984,first,TATATATAGA-GCCTCATTTT,TATATATAGA-TGCCTCATTT,+,IRR,EL4,32_2,LT
2,chr1,68392290,+,71,71,71,42,K00274:76:HHHM2BBXX:8:1227:5974:17685,first,TATATATAGA-GCCTCATTTC,TATATATAGA-GCCTCATTTC,+,IRR,EL4,32_2,LT
3,chr1,68392290,+,68,68,68,28,K00274:76:HHHM2BBXX:8:2108:24870:26265,first,TATATATAGA-TCTGCCTCAT,TATATATAGA-TCTGCCTCAT,+,IRR,EL4,32_2,LT
4,chr1,68392290,+,67,67,67,28,K00274:76:HHHM2BBXX:8:2202:3133:47084,first,TATATATAGA-TTCTGCCTCA,TATATATAGA-TTCTGCCTCA,+,IRR,EL4,32_2,LT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242346,chr6,53233279,-,43,148,148,22,K00275:54:HHHJTBBXX:8:1124:3407:34477,none,GATTAAATGT-CTGCTTGAAA,ATTAAGATAT-AATTCCTGAC,-,IRR,B16,456_4,LT
242347,chr6,53233279,-,43,72,72,22,K00275:54:HHHJTBBXX:8:1221:22445:26986,none,AGGATTAAAT-GCGGAGCCCT,ATTAAGATAT-AATTCCTGAC,-,IRR,B16,456_4,LT
242348,chr6,86910728,+,102,146,146,41,K00274:188:HW2KTBBXX:5:2125:20557:21852,none,TTTTGTAAAC-CACCAGTGCT,TAACTAACAA-CACCAGTGCT,+,IRR,EL4,46_2,RT
242349,chr6,86910821,-,108,148,148,41,K00274:188:HW2KTBBXX:5:1101:6948:19619,none,GTGGATTAAA-ATAGTGAGTC,ACCAGTGCTG-ACAATTCCTG,+,IRL,EL4,46_2,RT
242350,chr6,86910866,-,63,148,148,22,K00274:188:HW2KTBBXX:5:1227:5761:14713,none,AGGATTAAAT-CCACGAGACC,CCCACCAGCT-ACAATTCCTG,+,IRL,EL4,46_2,RT